<% include templates/header %>
<link href="/stylesheets/css/user.css" rel="stylesheet" type="text/css">

	<div id="user-header">
		<% if(loggedIn && user.username === loggedIn.username) { %><a href="#" id="edit-button"><i class="fa fa-edit"></i></a><% } %>
		<div class="mx-auto text-center" id="user-meta">
			<h3><%= user.username %></h3>
			<span id="bio"><textarea endpoint="/<%= user.username %>/update_bio" class="form-control col-md-6 col-9" rows="1" type="text" name="bio"><%= user.bio %></textarea><h6><%= user.bio %></h6></span>
		</div>
	</div>
	
	<div class="container mt-4 mb-4">
		<div class="text-center container" id="travelogue">
			<h6 class="mb-4"><%= user.name %>'s travelogues</h6>
			<div class="row gallery">
			<% for(var i = 0; i < imageData.length; i++) { %>
				<% var image = imageData[i] %>
				<span class="col-lg-3 col-sm-6 col-12 text-center square">
					<div>
						<a href="/<%= user.username %>/<%= image.latest.country %>">
							<img class="img-fluid" src="<%= image.latest.source %>">
						</a>
						<div class="figure-caption">
							<p class="location"><%= image.latest.country %></p>
						</div>
					</div>
				</span>
			<% } %>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<script type="text/javascript" src="/js/user.js"></script>
<% include templates/footer %>