<% include templates/header %>
<link href="/stylesheets/css/view_image.css" rel="stylesheet" type="text/css">

	<div class="container" id="image">
		<div class="row">
			<div class="col-lg-4 col-12 text-center" id="image-panel">
				<img class="img-fluid" src="<%= image.source %>">
			</div>
			<div class="col-lg-8 col-12" id="text-panel">
				<div>
					<a href="/user/country/<%= image._id %>/edit" title="Edit post"><i class="fa fa-edit"></i></a>
					<a href="/user/country" title="Return"><i class="fa fa-arrow-alt-circle-left"></i></a>
				</div>
				<div class="text-center">
					<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp;<%= image.location %></h6>
					<p>Caption: <%= image.caption %></p>
					<p>Posted on: <%= image.created.toDateString().slice(4,15) %></p>
				</div>
				<div class="container" id="comments-section">
					<h6>Comments</h6>
					<div id="comments"><% include comments %>
					</div>
					<form action="/user/country/<%= image._id %>/comment" method="POST" class="mt-2" id="comment-form">
						<div class="form-group">
							<textarea class="form-control col-12" type="text" name="comment" placeholder="Write a comment"></textarea>
						</div>
						<button class="col-12 btn btn-primary text-white" type="submit">Add new comment&nbsp;&nbsp;<i class="fa fa-comment"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>

<% include templates/scripts %>
<script type="text/javascript" src="/js/view_image.js"></script>
<% include templates/footer %>